<style type="text/css">
  .transformacion2 {
    text-transform: uppercase;
  }
</style>
<table>
  <div class="controlador">
    <h1>{{ productoActualizar ? 'Actualizar producto' : 'Agregar producto'}}</h1>
    <form [formGroup]="formGroup">
      <div class="mb-3 transformacion2">
        <label for="exampleInputEmail1" class="form-label">Nombre Producto</label>
        <input type="text" style="text-transform:uppercase;" class="form-control" id="exampleInputEmail1"
          aria-describedby="emailHelp" formControlName="nombreProducto">
      </div>
      <body>
        <div class="mb-3 transformacion2">
          <label for="disabledSelect" class="form-label">Tipo Producto</label>
          <select id="disabledSelect" class="form-select" formControlName="tipoProducto">
            <option>Seleccionar...</option>
            <option>CERVEZA</option>
            <option>AGUARDIENTE</option>
            <option>RON</option>
            <option>WHISKY</option>
            <option>VODKA</option>
          </select>
        </div>
      </body>
      <div class="mb-3 transformacion2">
        <label for="exampleInputPassword1" class="form-label">Cantidad</label>
        <input type="text" class="form-control" id="exampleInputPassword1" formControlName="cantidadProducto">
      </div>
      <div class="mb-3 transformacion2">
        <label for="exampleInputPassword1" class="form-label">Unidad de Medida</label>
        <input type="text" class="form-control" id="exampleInputPassword1" formControlName="unidadMedidaProducto">
      </div>
      <div class="mb-3 transformacion2">
        <label for="exampleInputPassword1" class="form-label">Precio</label>
        <input type="text" class="form-control" id="exampleInputPassword1" formControlName="precio">
      </div>
      <div class="mb-3 transformacion2">
        <label for="exampleInputPassword1" class="form-label">Fecha de Vencimiento</label>
        <input type="text" class="form-control" id="exampleInputPassword1" formControlName="fechaVencimiento">
      </div>
      <button type="button" class="btn btn-primary" [disabled]="formGroup.invalid" (click)="agregarProductos()" 
        *ngIf="!productoActualizar">Agregar</button>
      <button type="button" class="btn btn-primary" [disabled]="formGroup.invalid" (click)="actualizarProductos()"
        *ngIf="productoActualizar">Actualizar</button>

    </form>
  </div>
</table>