<h1 id="text">Inventario</h1>
<div class="container-fluid">
  <form class="d-flex">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>
</div>
<table class="table table-success table-striped space">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Nombre</th>
        <th class="nav-item dropdown">
          <a class="nav-item dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Tipo licor
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item">AGUARDIENTE</a></li>
            <li><a class="dropdown-item">CERVEZA</a></li>
            <li><a class="dropdown-item">WHISKY</a></li>
          </ul>
        <th scope="col">Cantidad</th>
        <th scope="col">Unidad de Medida</th>
        <th scope="col">Precio</th>
        <th scope="col">Fecha de Vencimiento</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let inventario of inventarios; let i = index">
        <th scope="row">{{i + 1}}</th>
        <td>{{inventario.nombreProducto}} </td>
        <td>{{inventario.tipoProducto}}</td>
        <td>{{inventario.cantidadProducto}}</td>
        <td>{{inventario.unidadMedidaProducto}}</td>
        <td>{{inventario.precio}}</td>
        <td>{{inventario.fechaVencimiento}}</td>
        <td><button type="button" class="btn btn-danger" (click)="eliminarProductos(inventario.idInventario)">Eliminar</button></td>
      </tr>
    </tbody>   
  </table>
