
<h1 id="text">INVENTARIO</h1>
<div class="container-fluid space">
  <form class="d-flex">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>
</div>

<table class="table table table-striped space">
    <thead>
      <th scope="col">id</th>
        <th scope="col">NOMBRE</th>
        <th class="nav-item dropdown">
          <a class="nav-item dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            TIPO LICOR
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item">AGUARDIENTE</a></li>
            <li><a class="dropdown-item">CERVEZA</a></li>
            <li><a class="dropdown-item">WHISKY</a></li>
          </ul>
        <th scope="col">CANTIDAD</th>
        <th scope="col">UNIDAD DE MEDIDA</th>
        <th scope="col">PRECIO</th>
        <th scope="col">FECHA DE VENCIMINETO</th>
      <tr>  
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let inventario of inventarios; let i = index">
        <th scope="row">{{i + 1}}</th>
        <td>{{inventario.nombreProducto}} </td>
        <td>{{inventario.tipoProducto}}</td>
        <td>{{inventario.cantidadProducto}}</td>
        <td>{{inventario.unidadMedidaProducto}}</td>
        <td>{{inventario.precio}}</td>
        <td>{{inventario.fechaVencimiento}}</td>
        <td><button type="button" class="btn btn-danger" (click)="eliminarProductos(inventario.idInventario)">ELIMINAR</button></td>
        <td><button type="button" class="btn btn-dark" (click)="irActualizarProducto(inventario)">ACTUALIZAR</button></td>
      </tr>  
  </table>
