<h1>Tabla Proveedores</h1>
<div class="container-fluid">
  <form class="d-flex">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>
</div>
<table class="table table-success table-striped space">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Nombre Tienda Proveedor</th>
      <th scope="col">Precio Pedido Proveedor</th>
      <th scope="col">Precio Adicional Pedido</th>
      <th scope="col">Fecha Entrega Pedido</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>nombre</td>
      <td>precio</td>
      <td>adicional</td>
      <td>unidadMedida</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>nombre</td>
      <td>precio</td>
      <td>adicional</td>
      <td>unidadMedida</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>nombre</td>
      <td>precio</td>
      <td>adicional</td>
      <td>unidadMedida</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>nombre</td>
      <td>precio</td>
      <td>adicional</td>
      <td>unidadMedida</td>
    </tr>
  </tbody>
</table>
